<!-- src/main/resources/templates/fragments/device-spec/device-spec-cpu.html -->
<div th:fragment="cpuGraph(cpuDevice, idCpu, manfCpu)">
    <div class="line_spec">
        <div class="chart_div">

            <!-- CPU 라벨 -->
            <div class="chart_div_image1">
                <div class="Module_Layout_1_1_1_1_0" style="margin-left:20px;">
                    <a style="font-size:14px; color:white; width: 40px;">CPU</a>
                </div>
            </div>

            <!-- 텍스트 라벨 -->
            <div class="chart_div_image2">
                <div><a>프로세서</a></div>
            </div>

            <!-- CPU 제조사 이미지 -->
            <div class="chart_div_image4" style="width:45px;">
                <div class="chart_div_image4_brand_cpu">
                    <a th:href="@{/search/cpu(catgo='manf_cpu', search=${manfCpu})}">
                        <img th:src="@{'/image/' + ${#strings.toLowerCase(manfCpu)} + '.png'}"
                             style="width:40px; height:auto;" />
                    </a>
                </div>
            </div>
  
            <!-- CPU 이름 -->
            <div class="chart_div_image3" style="width:180px; justify-content:left;">
                <div>
                    <a class="chart_div_image3_parameter"
                       th:href="@{'/cpus/' + ${idCpu}}"
                       th:text="${cpuDevice}"></a>
                </div>
            </div>

            <!-- 버튼 링크 수정 -->
<!--             <div class="chart_div_graph_device_nochart" style="width:280px;"> -->
<!--                 <div class="chart_div_graph_device_nochart_button"> -->
<!--                     <a th:href="@{/search/device(catgo='cpu_device', search=${cpuDevice})}"> -->
<!--                         <span style="color:#e0c2fe !important; text-shadow:0 0 2px black !important; font-weight:700 !important; margin-right:-5px !important; margin-left:-8px !important;" -->
<!--                               th:text="${cpuDevice}"></span>를 탑재한 다른 제품 -->
<!--                     </a> -->
<!--                 </div> -->
<!--             </div> -->
			<div class="chart_div_graph_device_nochart" style="width:280px;">
			    <div class="chart_div_graph_device_nochart_button">
			        <a th:href="@{/search/device(catgo='id_cpu_device', search=${idCpu})}">
			            <span style="color:#e0c2fe !important; text-shadow:0 0 2px black !important; font-weight:700 !important; margin-right:-5px !important; margin-left:-8px !important;"
			                  th:text="${cpuDevice}"></span>를 탑재한 다른 제품
			        </a>
			    </div>
			</div>


        </div>
    </div>
</div>
