<!-- src/main/resources/templates/fragments/device-spec/device-spec-manf.html -->
<div th:fragment="manfGraph(manfDevice)">
    <div class="line_spec">
        <div class="chart_div">

            <!-- 제조사 라벨 -->
            <div class="chart_div_image1">
                <div class="Module_Layout_1_1_1_1_0" style="margin-left:20px;">
                    <a style="font-size:15px; color:white; width: 40px;">Mnf</a>
                </div>
            </div>

            <!-- 텍스트 라벨 -->
            <div class="chart_div_image2">
                <div><a>제조사</a></div>
            </div>

            <!-- 제조사 이미지 -->
            <div class="chart_div_image4" style="width:45px;">
                <div class="chart_div_image4_brand">
                    <a th:href="@{/search/device(catgo='manf_device', search=${manfDevice})}" >
                        <img th:src="@{'/image/' + ${#strings.toLowerCase(manfDevice)} + '.png'}"
                             alt="제조사 로고"
                             style="width:40px; height:auto;"/>
                    </a>
                </div>
            </div>

            <!-- 제조사 이름 -->
            <div class="chart_div_image3" style="width:80px; justify-content:left; font-size:18px;">
                <div>
                    <a class="chart_div_image3_parameter"
                       th:href="@{/search/device(catgo='manf_device', search=${manfDevice})}"
                       th:text="${manfDevice}"></a>
                </div>
            </div>

            <!-- 버튼 -->
            <div class="chart_div_graph_device_nochart">
                <div class="chart_div_graph_device_nochart_button">
                    <a th:href="@{/search/device(catgo='manf_device', search=${manfDevice})}">
                        <span style="color:#e0c2fe !important; text-shadow:0 0 2px black !important; font-weight:700 !important; margin-right:-5px !important; margin-left:-8px !important;"
                              th:text="${manfDevice}"></span>사의 다른 제품
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
