
<div style="margin-top:-20px; margin-bottom:-36px;" th:fragment="cpuSlider">
  <section class="autoplay1 slider" style="padding-left:12px;">
  
    <div>
<!--       <a href=""> -->
		<a th:href="@{/search/cpu(catgo='manf_cpu', search='intel')}">
      <img src="/image/intel.png" style="width:100%; height:100%;">
      </a>
    </div>

    <div>
<!--       <a href=""> -->
		<a th:href="@{/search/cpu(catgo='manf_cpu', search='amd')}">
      <img src="/image/amd.png" style="width:100%; height:100%;">
      </a>
    </div>

    <div>
<!--       <a href=""> -->
		<a th:href="@{/search/cpu(catgo='manf_cpu', search='qualcomm')}">
      <img src="/image/qualcomm.png" style="width:100%; height:100%;">
      </a>
    </div>

    <div>
<!--       <a href=""> -->
		<a th:href="@{/search/cpu(catgo='manf_cpu', search='mediatek')}">
      <img src="/image/mediatek.png" style="width:100%; height:100%;">
      </a>
    </div>
    
    <div>
<!--       <a href=""> -->
		<a th:href="@{/search/cpu(catgo='manf_cpu', search='samsung')}">
      <img src="/image/samsung.png" style="width:100%; height:100%;">
      </a>
    </div>
    
    <div>
<!--       <a href=""> -->
		<a th:href="@{/search/cpu(catgo='manf_cpu', search='apple')}">
      <img src="/image/apple.png" style="width:100%; height:100%;">
      </a>
    </div>
    
    
    
    
    
    
    <div>
<!--       <a href=""> -->
		<a th:href="@{/search/cpu(catgo='manf_cpu', search='intel')}">
      <img src="/image/intel.png" style="width:100%; height:100%;">
      </a>
    </div>

    <div>
<!--       <a href=""> -->
		<a th:href="@{/search/cpu(catgo='manf_cpu', search='amd')}">
      <img src="/image/amd.png" style="width:100%; height:100%;">
      </a>
    </div>

    <div>
<!--       <a href=""> -->
		<a th:href="@{/search/cpu(catgo='manf_cpu', search='qualcomm')}">
      <img src="/image/qualcomm.png" style="width:100%; height:100%;">
      </a>
    </div>

    <div>
<!--       <a href=""> -->
		<a th:href="@{/search/cpu(catgo='manf_cpu', search='mediatek')}">
      <img src="/image/mediatek.png" style="width:100%; height:100%;">
      </a>
    </div>
    
    <div>
<!--       <a href=""> -->
		<a th:href="@{/search/cpu(catgo='manf_cpu', search='samsung')}">
      <img src="/image/samsung.png" style="width:100%; height:100%;">
      </a>
    </div>
    
    <div>
<!--       <a href=""> -->
		<a th:href="@{/search/cpu(catgo='manf_cpu', search='apple')}">
      <img src="/image/apple.png" style="width:100%; height:100%;">
      </a>
    </div>

  </section>

 
</div>




	