<div th:fragment="deviceSlider">
  <section class="autoplay2 slider" style="padding-left:12px;">
    <div>
      <a th:href="@{/search/device(catgo='manf_device', search='hp')}">
        <img src="/image/hp.png" style="width:100%; height:100%;">
      </a>
    </div>
    <div>
      <a th:href="@{/search/device(catgo='manf_device', search='asus')}">
        <img src="/image/asus.png" style="width:100%; height:100%;">
      </a>
    </div>
    <div>
      <a th:href="@{/search/device(catgo='manf_device', search='msi')}">
        <img src="/image/msi.png" style="width:100%; height:100%;">
      </a>
    </div>
    <div>
      <a th:href="@{/search/device(catgo='manf_device', search='dell')}">
        <img src="/image/dell.png" style="width:100%; height:100%;">
      </a>
    </div>
    <div>
      <a th:href="@{/search/device(catgo='manf_device', search='samsung')}">
        <img src="/image/samsung.png" style="width:100%; height:100%;">
      </a>
    </div>
    <div>
      <a th:href="@{/search/device(catgo='manf_device', search='lg')}">
        <img src="/image/lg.png" style="width:100%; height:100%;">
      </a>
    </div>
    <div>
      <a th:href="@{/search/device(catgo='manf_device', search='acer')}">
        <img src="/image/acer.png" style="width:100%; height:100%;">
      </a>
    </div>
    <div>
      <a th:href="@{/search/device(catgo='manf_device', search='lenovo')}">
        <img src="/image/lenovo.png" style="width:100%; height:100%;">
      </a>
    </div>
    <div>
      <a th:href="@{/search/device(catgo='manf_device', search='gigabyte')}">
        <img src="/image/gigabyte.png" style="width:100%; height:100%;">
      </a>
    </div>
    <div>
      <a th:href="@{/search/device(catgo='manf_device', search='huawei')}">
        <img src="/image/huawei.png" style="width:100%; height:100%;">
      </a>
    </div>
    <div>
      <a th:href="@{/search/device(catgo='manf_device', search='sony')}">
        <img src="/image/sony.png" style="width:100%; height:100%;">
      </a>
    </div>
  </section>
</div>
