<!-- fragments/member-device-module.html -->
<div th:fragment="deviceModule(favoriteDevices)">
    <div class="units_line" th:if="${#lists.isEmpty(favoriteDevices)}">
        <a class="units_line_noData1">아직 추가한 항목이 없습니다.</a>
        <a class="units_line_noData2">디바이스의 상세 정보에서 추가할 수 있습니다.</a>
    </div>

    <div class="units_line" th:if="${!#lists.isEmpty(favoriteDevices)}">
        <div th:each="device : ${favoriteDevices}" class="cpulist_per_user2_outer">
            <div class="cpulist_per_user2_1">
                <div class="info1">
                    <div class="units4_image" style="width:50px; height:50px; margin-left:30px; margin-right:10px;">
                        <img th:src="@{'/image/' + ${#strings.toLowerCase(device.deviceManfCode)} + '.png'}" alt="브랜드 이미지" style="width:50px; height:50px;"/>
                    </div>

                    <div class="units4">
                        <a th:href="@{'/devices/' + ${device.idDevice}}" th:text="${device.manfDevice}"></a>
                    </div>

                    <div class="units1_cpu">
                        <a th:href="@{'/devices/' + ${device.idDevice}}" th:text="${device.nameDevice}"></a>
                    </div>

<!--                     <div class="units"> -->
<!--                         <a th:href="@{'/devices/' + ${device.idDevice}}" th:text="${device.specDevice}"></a> -->
<!--                     </div> -->
                </div>
            </div>

            <div class="cpulist_per_user2_2">
                <form th:action="@{'/member/delete-device/' + ${device.idDevice}}" method="post">
                    <button type="submit" class="delete_button_css">삭제</button>
                </form>
            </div>
        </div>
    </div>
</div>
