/* CSS style sheet */
 

 
#layerPopup {
    display: none;


    
}
 
#layerPopup + label {


  

    width: auto;
 
    color:hwb(177 0% 0%);
}
 
#layer_bg {
    display:none;
    position:absolute;

    top:41%;
    left:0;

    width:100%;
    height: 100%;

    z-index : 5;
    animation: fadeInLeft 0.2s;
    -webkit-animation: fadeInLeft 0.2s; /* Safari and Chrome */

    border-radius: 8px;


}


 
#layer_bg > #popup {
    z-index: 1;


    justify-self: center;
    align-items: center;
    display: flex;
    
    position:absolute;

    box-sizing:border-box;
    border-radius:10px; 
  
    left:50%;
    transform:translate(-50%, -50%);

 
    background:#ffffff;

    color: black;
    box-shadow: 0 0 100px rgb(0, 0, 0); 
 
    width:700px;
    height:300px;

    


  

}





.popup_design{



    display: flex;
    justify-self: center;
    align-items: center;



    


}


 

 
#layerPopup:checked + label + #layer_bg {
    display:block;
    
}



.pop_font{
    font-size: 40px;
    color: black;



}




.popup_logout{
    display: flex;
    justify-self: center;
    align-items: center;
    

    flex-direction: column;


    a{
        color: white;

    }

}




.popup_logout_line1{

    margin: 5px;
    width:700px;
    height: 40px;
   

    display: flex;
    justify-items: center;
    align-items: center;

    flex-direction: column;
    background-color: transparent;

    padding-top : 5px;
   

    a{
        color: black;
        text-shadow : 0 0 4px white;
        font-size: 25px;

  


    }
}

.popup_logout_line2{
    margin: 5px;
    width: 240px;
    height: 36px;

    
    display: flex;
    justify-items: center;
    align-items: center;

    flex-direction: column;
    background-color: #b19ea8;
    outline-style: solid;
    outline-width: 1px;
    border-radius: 6px;

    a{
       
        color: rgb(255, 255, 255);
        text-shadow : 0 0 3px rgb(0, 0, 0);
        font-size: 24px;
    }


}

                .popup_logout_line2:hover{
                    margin: 5px;
                    width: 240px;
                    height: 36px;
                    
                    display: flex;
                    justify-items: center;
                    align-items: center;

                    flex-direction: column;
                    background-color: #b8aaaab6;
                    outline-style: solid;
                    outline-width: 1px;
                    border-radius: 6px;

                    a{
       
                        color: rgb(255, 255, 255);
                        text-shadow : 0 0 3px rgb(0, 0, 0);
                        font-size: 24px;
                    }


                }


                                            .popup_logout_top{
                                            display: flex;
                                            justify-items: center;
                                            align-items: center;
                                            flex-direction: column;
                                            width:700px;
                                            height: 120px;
                                            background-color: rgb(255, 255, 255);
                                            border-top-left-radius: 8px;
                                            border-top-right-radius: 8px;
                                            padding-top:10px;
                                            }                
                                                            
                                            .popup_logout_bottom{
                                            display: flex;
                                            justify-items: center;
                                            align-items: center;
                                            flex-direction: column;
                                            width:700px;
                                            height: 170px;
                                            background-color: rgb(100, 14, 61);
                                            border-bottom-left-radius: 8px;
                                            border-bottom-right-radius: 8px;
                                            padding-top:20px;
                                            }



.popup_logout_line3{
    margin: 5px;
    width:700px;
    height: 80px;
   

    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;

    

  
    color: black;
   

    a{

        margin-top : 7px;

        color: rgb(255, 255, 255);
        text-shadow : 0 0 4px rgb(0, 0, 0);
        font-size: 36px;
    }
}



.popup_logout_line4{
    margin: 5px;
    width: 240px;
    height: 36px;

  
    display: flex;
    justify-items: center;
    align-items: center;

    flex-direction: column;
    background-color: rgb(168, 68, 123);
    outline-style: solid;
    outline-width: 1px;
    border-radius: 6px;

    a{
        color: rgb(255, 255, 255);
        text-shadow : 0 0 3px rgb(0, 0, 0);
        font-size: 25px;

        margin-top : 10px;
    }

}





                .popup_logout_line4:hover{
                    margin: 5px;
                    width: 240px;
                    height: 36px;
                
                  
                    display: flex;
                    justify-items: center;
                    align-items: center;
                
                    flex-direction: column;
                    background-color: #e65b9c;
                    outline-style: solid;
                    outline-width: 1px;
                    border-radius: 6px;
                
                    a{
                        color: rgb(255, 255, 255);
                        text-shadow : 0 0 3px rgb(0, 0, 0);
                        font-size: 25px;
                
                        margin-top : 10px;
                    }
                
                }