<!-- fragments/mdi-device-manf/manufacturer-pie.html -->
<div th:fragment="manufacturerPie">
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

  <script th:inline="javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart2);

    function drawChart2() {
      var data0002 = google.visualization.arrayToDataTable([
        ["제조사", "빈도"],
        ["hp", [[${hpCount} ?: 0]]],
        ["msi", [[${msiCount} ?: 0]]],
        ["asus", [[${asusCount} ?: 0]]],
        ["dell", [[${dellCount} ?: 0]]],
        ["samsung", [[${samsungCount} ?: 0]]],
        ["lg", [[${lgCount} ?: 0]]]
      ]);

      var options0002 = {
        chartArea: {width: '85%', height: '85%'},
        backgroundColor: 'transparent',
        legend: { position: "none" },
        colors: ['#f30182', '#fe5cb2', '#fea4d4', '#f8d7e8', '#f8d7e8', '#fdd7eb']
      };

      var chart222 = new google.visualization.PieChart(document.getElementById("mdi_CorePie2"));
      chart222.draw(data0002, options0002);
    }
  </script>
</div>
