<!-- fragments/mdi-cpu-core/mdi-core-chart.html -->
<div th:fragment="mdiCoreChart(coreCpu, coreCount, chartId)">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script th:inline="javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(function() {
      var coreCount = /*[[${coreCount} ?: 0]]*/ 0;
      var coreLabel = /*[[${coreCpu}]]*/ '코어';

      var data = google.visualization.arrayToDataTable([
        ['', '모델 수', { role: 'style' }],
        [coreLabel + '코어', coreCount, '#f80185']
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1, 2, {
        calc: "stringify",
        sourceColumn: 1,
        type: "string",
        role: "annotation"
      }]);

      var options = {
        backgroundColor:'transparent',
        chartArea: {width: '100%', height: '40%'},
        legend: { position: "none" },
        bar: { groupWidth: '80%' },
        hAxis: {
          viewWindowMode: 'maximized',
          showLabel: false,
          minValue: 0,
          maxValue: 250,
          textPosition: 'none',
          gridlines: { color: 'none' }
        },
        vAxis: {
          viewWindowMode: 'maximized',
          showLabel: false,
          textStyle: {
            fontSize: 26,
            bold: true
          },
          textPosition: 'none'
        },
        annotations: {
          textStyle: {
            fontSize: 22,
            bold: true,
            color: 'white',
            opacity: 1.8
          }
        }
      };

      var chart = new google.visualization.BarChart(document.getElementById(/*[[${chartId}]]*/ 'chart_div_core'));
      chart.draw(view, options);
    });
  </script>

  <div class="mdi_core">
    <div class="core001_core">
      <a class="core_nums_core"
         th:href="@{/search/cpu(catgo='core_cpu', search=${coreCpu})}"
         th:text="${coreCpu}"></a>
      <a class="core_texts">코어</a>
    </div>
    <div class="core001_num_core">
      <div th:attr="id=${chartId}" style="width: 900px; height:100px;"></div>
    </div>
  </div>
</div>
